/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16 oct. 2020, 20:12:38
    Author     : daw205
*/

.rounded-circle{
    border-radius: 50%;
    width: 50px;
    padding-top: 0px; 
    height: 50px;
}

li > a{
    padding-bottom: 3px!important;
    height: 61px;
}
.navbar{
    height: 63px;
    border-radius: 0px;
}
.avatar{
    padding-top: 6px !important;
}
.navbar-brand{
    padding: 0px;
    padding-left: 5px;
}
.titulo{
    margin-top: 14px !important;
    margin-left: 5px;
    margin-right: 10px;
}
.w-300{
    width: 300px;
}
.correo{
    margin-right: 15px;
    margin-left: 15px;
}
.imagen{
    padding-top: 6px!important;
}

body{
    background: url("../css/img/fondo.png")repeat center center fixed; 
    background-size: auto;
    min-height: 560px;
}

.container{
    background: rgba(255, 255, 255, 0.97);
}

.email{
    color: white !important;
    font-size: 20px;
    padding-left: 20px !important;
    padding-right: 20px !important;
}

.p-5{
    padding-top: 5px;
}
.w-100{
    width: 100%;
}
.w-100px{
    width: 450px;
}
.w-2{
    width: 20%;
}
.w-5{
    width: 5%;
}
.container {
    width: 1332px;
}
.p-t1{
    padding-top: 1px !important;
}
.p-t7{
    padding-top: 7px !important;
}
h4{
    font-size: 20px;
}
.navbar-header{
    margin-left: 10px !important;
    margin-right: 10px !important;
}
.eye{
    width: 40px !important;
    font-size: 20px;
}
.w-50{
    width: 47%;
}
.currentColor{
    background-color: currentColor;
}
.fondowhite{
    background-color: white;    
}
.tablero-mensajes{
    display: block;
    max-height: 400px;
    height: 400px;
    overflow: auto;
}
.mini_foto{
    width: 40px !important;
    height: 40px !important;
}
td{
    max-height: 57px !important;
}
tr{
    max-height: 57px;
    display: block;
}